@font-face {
    font-family: 'davat';
    src: url('../fonts/BDavat.eot');
    src: url('../fonts/BDavat.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BDavat.woff2') format('woff2'),
        url('../fonts/BDavat.woff') format('woff'),
        url('../fonts/BDavat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BYekan.woff2') format('woff2'),
        url('../fonts/BYekan.woff') format('woff'),
        url('../fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'yekan', 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Content
*/

[role='main'] {
    padding-top: 48px; /* Space for fixed navbar */
    background: url('../images/light-grey-terrazzo.png') repeat center center
        fixed;
}

.copyright {
    color: white;
    font-size: 13px;
}

.socialmedia {
    color: white;
}
